<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
<body class="container">
     <%- include('../partials/header',{pagina: "Sobre"}); %>
     <main>
        <div class="p-5 bg-light">
                <h1 class="display-3">Esmaily Negreiros Peixoto</h1>
                <p class="lead">Desenvolvedor Júnior, Analista de Dados, Economista e Administrador</p>
                <hr class="my-2">
                <p>More info</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Mais informações</a>
                </p>
        </div>
     </main>

     <%- include ('../partials/footer'); %>

    
</body>
</html>